<h1 class="display-3">Mensajes</h1>
<input type="text" name="mensaje" class="form-control"
    [(ngModel)]="mensaje" placeholder="Enviar mensaje..."
    (keyup.enter)="enviarMensaje()">

<ul class="list-group list-group-flush">
    <li *ngFor="let mensaje of _socket.mensajes" class="list-group-item">
        <span [ngClass]="{'text-primary': mensaje.usuario === _socket.id, 'text-danger': mensaje.usuario !== _socket.id}"
        >{{ mensaje.usuario }}:</span>
        {{ mensaje.mensaje }}
        <span class="float-right text-muted">{{ mensaje.fecha |date:'shortTime' }}</span>
    </li>
</ul>