<div class="jumbotron animated fadeIn">
  <div class="container">
    <h1 class="display-3">404</h1>
    <p class="lead">La página a la que trató de acceder no existe o ha sido movida.</p>
    <hr class="my-2">
    <p>Si cree que esto es un error, puede reportarlo en el repositorio.</p>
    <div class="btn-group" role="group">
      <a class="btn btn-dark btn-lg" 
      [routerLink]="['/']" role="button"><i class="fas fa-home"></i> Volver al inicio</a> 
      <a class="btn btn-danger btn-lg" href="https://github.com/Woomber/ChatalkClient/issues" role="button"><i class="fab fa-github"></i> Reportar error</a>
    </div>
  </div>
</div>